@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "@radix-ui/themes/styles.css";
@import "tailwindcss";
@import "primeicons/primeicons.css";

/* Theme setup */
.radix-themes {
   --default-font-family: "Poppins", sans-serif;
}

@theme {
   --font-Poppins: "Poppins", sans-serif;
   --font-Montserrat: "Montserrat", sans-serif;
}

/* Base clean up */
html,
body,
#root {
   background-color: var(--color-background);
   height: 100%;
}

#root > div.radix-themes {
   display: flex;
   flex-direction: column;
}

main {
   background-color: var(--color-background);
   flex-grow: 1;
}

button:not([data-disabled="true"]) {
   cursor: pointer;
}

/* Predefined typography tags styles */

h1 {
   @apply text-3xl font-bold font-Montserrat;
}

h2 {
   @apply text-2xl font-bold font-Montserrat;
}

h3 {
   @apply text-xl font-semibold;
}

b {
   @apply font-bold;
}

em {
   @apply italic;
}

u {
   @apply underline;
}

small {
   @apply text-sm;
}

/* Custom tailwind shortcuts */

.containerX {
   @apply container mx-auto px-4;
}



::view-transition-group(*) {
   animation-duration: 0.5s;
}

::view-transition-group(user-order) {
   animation-duration: 1;
}

::view-transition-new(*),
::view-transition-old(*) {
   animation-duration: 0.5s;
   animation-timing-function: ease;
}

::view-transition-new(account-panel) {
   animation-name: fade-in-from-left;
}
::view-transition-old(account-panel) {
   animation-name: fade-out-to-left;
}
::view-transition-new(title) {
   animation-name: fade-in-from-bottom;
}
::view-transition-old(title) {
   animation-name: fade-out-to-top;
}

::view-transition-old(account-order) {
   animation: fade-out-to-right 0.65s ease;
}

@keyframes fade-in-from-left {
   0% {
      opacity: 0;
      transform: translateX(-250px);
   }
   100% {
      opacity: 1;
      transform: translateX(0px);
   }
}

@keyframes fade-out-to-left {
   0% {
      opacity: 1;
      transform: translateX(0);
   }
   100% {
      opacity: 0;
      transform: translateX(-250px);
   }
}
@keyframes fade-out-to-right {
   0% {
      opacity: 1;
      transform: translateX(0);
   }
   100% {
      opacity: 0;
      transform: translateX(250px);
   }
}

@keyframes fade-in-from-bottom {
   0% {
      opacity: 0;
      transform: translateY(25px) scale(0.75);
   }
   100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
   }
}

@keyframes fade-out-to-top {
   0% {
      opacity: 1;
      transform: translateY(0) scale(1);
   }
   100% {
      opacity: 0;
      transform: translateY(-25px) scale(0.75);
   }
}
